:root {
	--main-clr:#ccc;
	--heading-clr:#00145c;
}
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	background: #eee; 
	margin: 0;
	color: #777;
}
h1,h2,h3,h4 {
	font-weight: 500;
	color: var(--heading-clr);
}
h1 {
	font-size: 48px;
	font-weight: 300;
	margin: 20px 0;
}
h2 {
	font-size: 28px;
	margin: 32px 0 24px;
	
}
h3 {
	font-size: 24px;
}
h2,
h3{
 	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
h2::after,
h3::after {
  content: "";
  display: block;
  border-bottom: 1px solid black;
  width: 25%;
  position: relative;
  bottom: -6px; 
}
a {
	color: #777;
}
a:focus { 
    outline: none;
}
a:hover{
	color: #000;
}
ul {
	list-style: none;
	padding:0;
	margin:0;
}
li { 
	padding-left: 1em; 
	text-indent: -.7em;
}
li:before {
	content: "• ";
	color: #837c9a;
	font-size: 20px;
	padding-right: 8px;
}
.head_second {
	font-weight: 500;
	color: #000;
}
.block {
	margin: 25px 30px;
}

.main_container {
	width: 960px;
    margin: 20px auto;
		padding: 12px;
    background: #fff;
    box-shadow: 0 0 9px 2px #ccc;
    border-radius: 5px;
}
.body_container{
	display: flex;
}
.content_container {
	flex: 1;
	border-left: 1px solid #403F44;
}